.foto {
    width: 54%
}

body {
    background-color: rbg(rgb(129, 35, 35))
    display: flex;
    margin: 12px;
    justify-content: space-evenly;
    align-items: center;
}

div{ 
    margin: 20px;
    padding: 20px;
}