body {
    background-color: #cde6d0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h2, p {
    color: #333;
}

.linha {
    display: flex;
    justify-content: center;
    gap: 10px;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}